@using System.Data;
@using System.Data.SqlClient;
@{
  Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="dss-right-section noside-right-full">
  <div class="dashboard-center">
    <div class="custom-breadcrumb">
      <ol class="cd-breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#0">Trading Pool Sent Requests</a></li>
      </ol>
    </div>
    <div class="dashboard-center-itm">
      <div class="cm-table-data">
        <div class="cm-table-data-in">
          
          <table id="cmDataTable" class="display table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Invester ID</th>
                <th>Name</th>
                <th>Request Date</th>
                <th>Request Status</th>
                <th>Remark</th>
              </tr>
            </thead>

            <tbody>
              @{
                var i = 0;
                foreach (DataRow dr in (ViewData["_report"] as DataTable).Rows)
                {
                  i++;
                  <tr>
                    <th>@i</th>
                    <td><p>@dr["LoginId"].ToString()</p></td>
                    <td><p>@dr["Fname"].ToString()</p></td>
                    <td><p>@dr["requestdate"].ToString()</p></td>
                    <td><p>@dr["requeststatus"].ToString()</p></td>
                    <td><p>@dr["Remark"].ToString()</p></td>
                  </tr>
                }
              }

            </tbody>
          </table>
        </div>
      </div>
    </div>




  </div>

</div>