@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="dss-right-section noside-right-full">
    <div class="dashboard-center">
        <div class="custom-breadcrumb">
            <ol class="cd-breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#0">Trading Pool Investment Report</a></li>
            </ol>
        </div>
        <div class="dashboard-center-itm">
            <div class="cm-table-data">
                <div class="cm-table-data-in">
                    @*<div class="cm-tbl-header">
                    <div class="cm-data-searchDate">
                    <div class="date-filet">
                    <div id="reportrange" class="cm-date-picker">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="fa fa-caret-down"></b>
                    </div>
                    </div>
                    </div>
                    </div>*@
                    <table id="cmDataTable" class="display table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Inv. Date</th>
                                <th>Inv. Amount</th>
                                <th>Payment Type</th>
                                <th>Dhanu Deduct</th>
                                <th>Usdt Deduct</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                var i = 0;
                                foreach (DataRow dr in (ViewData["_report"] as DataTable).Rows)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td><p>@dr["InvestmentDate"].ToString()</p></td>
                                        <td data-dolor="₹">@dr["Investment"].ToString()</td>
                                        <td><span>@dr["Kitname"].ToString()</span><span>Dhanu Rate - @dr["DhanuCoinRate"].ToString()</span><span>USDT Rate - @dr["UsdtCoinRate"].ToString()</span>@*<span>Dhanu - @dr["DhanuPercentage"].ToString() %</span><span>Usdt - @dr["UsdtPercentage"].ToString() %</span>*@</td>
                                        <td>@dr["DhanuCoin"].ToString()</td>
                                        <td>@dr["UsdtCoin"].ToString()</td>
                                    </tr>
                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td>Totals</td>
                                <td data-dolor="₹"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>



    </div>

</div>

