@using System.Data;
@using System.Data.SqlClient;
@{
  Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="dss-right-section noside-right-full">
  <div class="dashboard-center">
    <div class="custom-breadcrumb">
      <ol class="cd-breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#0">Trading Pool Wallet Report</a></li>
      </ol>
    </div>
    <div class="dashboard-center-itm">
      <div class="cm-table-data">
        <div class="cm-table-data-in">
          @*<div class="cm-tbl-header">
                <div class="cm-data-searchDate">
                    <div class="date-filet">
                        <div id="reportrange" class="cm-date-picker">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="fa fa-caret-down"></b>
                        </div>
                    </div>
                </div>
            </div>*@
          <table id="cmDataTable" class="display table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Tr. Date</th>
                <th>Tr. Type</th>
                <th>Coin Rate ($)</th>
                <th>Coin</th>
                <th>Amount ($)</th>
                <th>Reference no.</th>
                <th>Tr. Name</th>
                <th>Remark</th>
              </tr>
            </thead>

            <tbody>
              @{
                var i = 0;
                foreach (DataRow dr in (ViewData["_report"] as DataTable).Rows)
                {
                  i++;
                  string color = "";
                  @if (@dr["Transactiontype"].ToString().ToUpper() == "CR.")
                  {
                    color = "crColor";
                  }
                  else if (@dr["Transactiontype"].ToString().ToUpper() == "DB.")
                  {
                    color = "dbColor";
                  }

                  <tr class="@color">
                    <td>@i</td>
                    <td><p>@dr["Transactiondate"].ToString()</p></td>
                    <td><p>@dr["Transactiontype"].ToString()</p></td>
                    <td><p>@dr["CoinRate"].ToString()</p></td>
                    <td><p>@dr["Coin"].ToString()</p></td>
                    <td><p>@dr["Amount"].ToString()</p></td>
                    <td><p>@dr["TransactionReferenceno"].ToString()</p></td>
                    <td><p>@dr["TransactionName"].ToString()</p><p>@dr["TransactionStatus"].ToString()</p></td>
                    <td><p>@dr["Remark"].ToString()</p></td>
                  </tr>
                }
              }

            </tbody>
          </table>
        </div>
      </div>
    </div>




  </div>

</div>

